flow
[{"id":"f5728332.a0d4d","type":"tab","label":"Flow 1"},{"id":"695d21e1.2dc16","type":"tcp in","z":"f5728332.a0d4d","name":"connect to tcp 192.168.201.122:20000","server":"client","host":"192.168.201.122","port":"20000","datamode":"stream","datatype":"buffer","newline":"\\n","topic":"","base64":false,"x":272.26666259765625,"y":89.18333435058594,"wires":[["f7aac3c.93ff8c"]]},{"id":"9b0112ce.aafad8","type":"debug","z":"f5728332.a0d4d","name":"","active":true,"console":"false","complete":"false","x":846.2666015625,"y":89.55000305175781,"wires":[]},{"id":"fae256.54aa2da8","type":"inject","z":"f5728332.a0d4d","name":"set event mode : *99*1##","topic":"","payload":"*99*1##","payloadType":"str","repeat":"","crontab":"","once":false,"x":250.2666778564453,"y":188.55001831054688,"wires":[["cd5c1eac.c70568"]]},{"id":"f7aac3c.93ff8c","type":"function","z":"f5728332.a0d4d","name":"hex2a","func":"function hex2a(hexx) {\n    var hex = hexx.toString();\n    return hex;\n}\n\nmsg.payload = hex2a(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":533.2666015625,"y":147.51666259765625,"wires":[["9b0112ce.aafad8"]]},{"id":"c1d82f2e.7ae56","type":"inject","z":"f5728332.a0d4d","name":"set request mode : *99*1##","topic":"","payload":"*99*1##","payloadType":"str","repeat":"","crontab":"","once":false,"x":248.88331604003906,"y":223.8833465576172,"wires":[["cd5c1eac.c70568"]]},{"id":"8f8b745c.343b6","type":"tcp out","z":"f5728332.a0d4d","host":"","port":"","beserver":"reply","base64":false,"end":false,"name":"reply to tcp","x":794.88330078125,"y":496.29998779296875,"wires":[]},{"id":"b128199d.ae56d8","type":"inject","z":"f5728332.a0d4d","name":"set led off : *1*0*11##","topic":"","payload":"*1*0*11##","payloadType":"str","repeat":"","crontab":"","once":false,"x":239.26666259765625,"y":356.5500183105469,"wires":[["cd5c1eac.c70568"]]},{"id":"84998b60.eb1018","type":"inject","z":"f5728332.a0d4d","name":"set led on : *1*1*11##","topic":"","payload":"*1*1*11##","payloadType":"str","repeat":"","crontab":"","once":false,"x":237.88333129882812,"y":392.8833312988281,"wires":[["cd5c1eac.c70568"]]},{"id":"cd5c1eac.c70568","type":"function","z":"f5728332.a0d4d","name":"a2hex","func":"function a2hex(str) {\n  var arr = [];\n  for (var i = 0, l = str.length; i < l; i ++) {\n    var hex = Number(str.charCodeAt(i)).toString(16);\n    arr.push(hex);\n  }\n  return arr.join('');\n}\n\nvar t = a2hex(msg.payload);\n\nreturn msg;","outputs":1,"noerr":0,"x":533.2666320800781,"y":408.0333251953125,"wires":[["8f8b745c.343b6","9b0112ce.aafad8"]]},{"id":"c8e70586.2ea5e","type":"inject","z":"f5728332.a0d4d","name":"status relai h4671/1 : #*1*11##","topic":"","payload":"*#1*11##","payloadType":"str","repeat":"","crontab":"","once":false,"x":262.8833312988281,"y":537.8833312988281,"wires":[["cd5c1eac.c70568"]]},{"id":"4e48e658.c7613","type":"inject","z":"f5728332.a0d4d","name":"status termo num 1 : *#4*1##","topic":"","payload":"*#4*1##","payloadType":"str","repeat":"","crontab":"","once":false,"x":251.88333129882812,"y":570.88330078125,"wires":[["cd5c1eac.c70568"]]},{"id":"3ec8ca68.faa616","type":"inject","z":"f5728332.a0d4d","name":"status termo num 2 : *#4*2##","topic":"","payload":"*#4*2##","payloadType":"str","repeat":"","crontab":"","once":false,"x":252.88333129882812,"y":604.88330078125,"wires":[["cd5c1eac.c70568"]]},{"id":"427855b2.bd660c","type":"inject","z":"f5728332.a0d4d","name":"status NT4692 termo : *#4*3##","topic":"","payload":"*#4*3##","payloadType":"str","repeat":"","crontab":"","once":false,"x":262.8833312988281,"y":637.88330078125,"wires":[["cd5c1eac.c70568"]]},{"id":"492a6ebe.5e449","type":"inject","z":"f5728332.a0d4d","name":"status termo 64110 : *#4*4##","topic":"","payload":"*#4*4##","payloadType":"str","repeat":"","crontab":"","once":false,"x":253,"y":671.5166625976562,"wires":[["cd5c1eac.c70568"]]}]
